@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

/* SCROLLBAR CUSTOM  */
.scrollbar-track-rounded::-webkit-scrollbar-track {
	border-radius: 999px;
}
.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
	border-radius: 999px;
}

/* SWIPER PAGINATION DOT */
.swiper-custom-pagination-dot {
	padding: 0px 0px 40px 0px !important;
}

.swiper-custom-pagination-dot .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: gray !important;
	opacity: 100%;
}

.swiper-custom-pagination-dot .swiper-pagination-bullet-active {
	background: black !important;
}

/* SWIPER PAGINATION SCROLL */
.swiper-custom-pagination-scroll {
	padding: 0px 0px 20px 0px !important;
}

.swiper-custom-pagination-scroll .swiper-scrollbar {
	left: 0% !important;
	right: 5% !important;
	width: 100% !important;
	height: 4px !important;
	background: gray;
}

.swiper-custom-pagination-scroll .swiper-scrollbar-drag {
	background: blue;
}

/* SWIPER */
.swiper-custom-nav {
	border-radius: 4px;
}

.swiper-custom-nav .swiper-button-next::after,
.swiper-custom-nav .swiper-button-prev::after {
	font-size: 14px;
	font-weight: 600;
	background-color: #0000009a;
	padding: 8px 11px;
	border-radius: 50%;
	color: #fff;
}

.swiper-custom-nav .swiper-button-next:hover::after,
.swiper-custom-nav .swiper-button-prev:hover::after {
	background-color: #000000d3 !important;
	transition: background-color 0.2s ease-in;
}

html[class="dark"] { 
	--bg-react-select-control: #171717;
	--bg-react-select-option-hover: #262626;
	--text-react-select-option: white;
	--react-select-indicator: #d1d5db;
	--react-select-border: #404040;
}

html { 
	--bg-react-select-control: white;
	--bg-react-select-option-hover: #f3f4f6;
	--text-react-select-option: #171717;
	--react-select-indicator: #737373;
	--react-select-border: #e5e7eb;
}

.react-select__input:focus {
	box-shadow: none !important;
	color: var(--text-react-select-option) !important;
}

.react-select__control {
	background-color: var(--bg-react-select-control) !important;
	border-color: var(--react-select-border) !important ;
	cursor: pointer !important;
}

.react-select__multi-value {
	background-color: #3b82f6 !important;
	border-radius: 4px !important;
	margin-right: 4px !important;
	color: white !important;
}

.react-select__multi-value__label {
	color: white !important;
}

.react-select__indicator {
	color: var(--react-select-indicator) !important;
}

.react-select__menu {
	background-color: var(--bg-react-select-control) !important;
	cursor: pointer !important;
	color: var(--text-react-select-option);
}

.react-select__option:hover{
	background-color: var(--bg-react-select-option-hover) !important;
	cursor: pointer !important;
}

/* .react-select__option{
	background-color: var(--bg-react-select-option-hover) !important;
} */
