@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

/* SCROLLBAR CUSTOM  */
.scrollbar-track-rounded::-webkit-scrollbar-track {
	border-radius: 999px;
}
.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
	border-radius: 999px;
}

/* SWIPER PAGINATION DOT */
.swiper-custom-pagination-dot {
	padding: 0px 0px 40px 0px !important;
}

.swiper-custom-pagination-dot .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: gray !important;
	opacity: 100%;
}

.swiper-custom-pagination-dot .swiper-pagination-bullet-active {
	background: black !important;
}

/* SWIPER PAGINATION SCROLL */
.swiper-custom-pagination-scroll {
	padding: 0px 0px 20px 0px !important;
}

.swiper-custom-pagination-scroll .swiper-scrollbar {
	left: 0% !important;
	right: 5% !important;
	width: 100% !important;
	height: 4px !important;
	background: gray;
}

.swiper-custom-pagination-scroll .swiper-scrollbar-drag {
	background: blue;
}

/* SWIPER */
.swiper-custom-nav {
	border-radius: 4px;
}

.swiper-custom-nav .swiper-button-next::after,
.swiper-custom-nav .swiper-button-prev::after {
	font-size: 14px;
	font-weight: 600;
	background-color: #0000009a;
	padding: 8px 11px;
	border-radius: 50%;
	color: #fff;
}

.swiper-custom-nav .swiper-button-next:hover::after,
.swiper-custom-nav .swiper-button-prev:hover::after {
	background-color: #000000d3 !important;
	transition: background-color 0.2s ease-in;
}
